<% @books.each do |book| %>
  <div class="rakubook">
    <div class="rakubook-img">
      <br>
      <%= link_to (image_tag(book.medium_image_url)), book.item_url %><br>
      <br>
    </div>
    <div class="rakubook-details">
      <ul style="width: 500px;">
        ＜タイトル＞<br>
        <p><%= book.title %></p>
        ＜著者＞<br>
        <p><%= book.author %></p>
        ＜詳細＞<br>
        <p><%= book.item_caption %></p>
      </ul>
    </div>
  </div>
  <br>
<% end %>