<div class="search-box">
  <%= form_with url: books_search_path, method: :get, local: true do |f| %>
      <div class="form-group">
        <%= f.text_field :keyword, class: "form-control" %>
        <%= f.submit '本の題名を検索', class: "form-control btn btn-success" %>
      </div>
  <% end %>
</div>
<% if @books.present? %>
  <%= render 'book' %>
<% end %>