<!--< %= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post %>-->
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>

<h1>ホーム画面</h1>

<p>今日は何をすればいいんだっけ？</p>

<p>やることが多すぎて、何から手を付けたらいいのかわからない</p>

<P>そんな、あなたのタスク管理をサポートします。</P>
