<!------------------------scrollreveal------------------------>
<div class="page">
  <div class="target text">Todo Manager</div>
</div>
<!------------------------画像スライド------------------------>
<div id="slider">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>
<!---------------------------------------------------------->
  <!--<div class="background-img">-->
    <!--<div class="box-guest" >-->
  <!--<div class="top-box-2"></div>-->
<div class="gest-signin">
  <%= link_to users_guest_sign_in_path, method: :post do %>
    ゲストログイン<br>
    <span>(ポートフォリオ閲覧用)</span>
  <% end %>
</div>
<div class="home">
  <h3 class="home-text text-left">
  Todo managerはあなたが抱える「仕事」や「やること」を優先度と進捗を
  管理して,タスクの優先順位を簡単に見分けられるようにサポートする
  アプリケーションです。
  </h3>
</div>
  <div class="container">
    <div class="row">
      <div class="offset-2 col-md-7">
        <h4 class="font">タスク管理をするならTodoリストを作ってみよう!</h4>
        <br>
        <p>Todoリストとは、別名「やることリスト」ともいい、これからやるべきことをリスト化したものです。</p>
        <p>日々仕事をする上で出てくる、タスクの整理を可能とし、タスクを忘れないようにします。</p>
        <br>
        <h4 class="font">ToDoリストが可能にすること</h4>
        <br>
        <p>多くの人は、ToDoリストは「やることをただ書き出しただけ」と勘違いしているかもしれません。</p>
        <p>しかし、ToDoリストを作ることで以下のような4つの効果があります。</p>
        <ul>
          <li>やるべきことの洗い出し</li>
          <li>やり忘れ防止</li>
          <li>優先度確認</li>
          <li>進捗管理</li>
        </ul>

        <p>上記の4点を意識して、書き出してみよう！</p>
        <br>
        <h4 class="font">ルーチンタスクを決めてみよう！</h4>
        <br>
        <P>
          ルーチンタスクとは「やることが具体的に定まったルーチンワーク」のことです。
          自分が抱えるルーチンワークをルーチンタスクとして洗い出し、
          洗い出したそれらを専用の考え方と仕組みによって制御することで、日常が見違えてきます。
        </P>
      </div>
    </div>
  </div>
