  <div class="background-img">
    <!--<div class="box-guest" >-->
  <div class="top-box-2"></div>

  <div class="gest-signin">
    <%= link_to users_guest_sign_in_path, method: :post do %>
      ゲストログイン<br>
      <span>(ポートフォリオ閲覧用)</span>
    <% end %>
  </div>

<div class="home">
  <h4 class="home-text">
  Todo managerはあなたが抱える仕事を優先度と重要度を用いて分類し、
  タスクの優先順位を簡単に見分けられるようにサポートするアプリケーションです。
  </h4>
</div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p style="">今日は何をすればいいんだっけ？</p>
        <p style="">やることが多すぎて、何から手を付けたらいいのかわからない</p>
        <P style="">そんな、あなたのタスク管理をサポートします。</P>
        <P style="">優先度や仕事の進捗状況などを表示でき。状況に合わせたカスタマイズが可能です。</P>
        <P style="">ToDoリストがシンプルに確認できて使いやすいアプリ。</P>
        <P style="">
          タスクとは「やることが具体的に定まった一つの手順・作業・仕事」を意味する言葉ですが、
          ルーチンタスクとは「やることが具体的に定まったルーチンワーク」のことです。
          自分が抱えるルーチンワークをルーチンタスクとして洗い出し、
          洗い出したそれらを専用の考え方と仕組みによって制御することで、日常が見違えてきます。
        </P>
        <%= render "slidein" %>
      </div>
    </div>
  </div>
