/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
//   @import "font-awesome-sprockets";
// 　@import "font-awesome";

// デプロイ後に画像ファイルを使用したいなら以下のように記述すること
// hoge.jpgは例えで記入しているので使用したい画像ファイルを格納すればいい
// image-urlという形にすることも忘れずに記述する。
// body {
//   background-image: image-url("scott-graham-work.jpg");}

//----------ページ全体----------//
html {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Noto Serif JP', serif;
}

//----------ホーム画面----------//

body {
  width: 100%;
  position: relative;
  min-height: 100vh;
  background-image: image-url("stil-vdaJJbls3xE-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.home {
  text-align: center;
}

.guest-login {
  text-align: right;
  color: red;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  color: white;
  text-align: center;
}

//----------各画面のタイトル----------//
.title {
  width: 230px;
  height: 50px;
  margin: 40px 0 0 100px;
  padding-top: 10px;
  background-color: gray;
  color: white;
  text-align: center;
  border-radius: 50px;
}

//----------新規タスク画面----------//
.new-buttom {
  width: 75%;
  text-align: right;
}