// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//---------- ----------//

//----------Home画面 ----------//
.top-box-2{
  height: 200px;
  width: 200px;
  background-image: image-url("Accept-tasks-pana.png");
  background-size: cover;
}

.font {
  background-color: #ededed;
  height: 50px;
  padding: 10px 0 0 20px;
}

p {
  font-size: 18px;
}

li {
  font-size: 18px;
}

//----------scrollreveal----------//

@mixin positionCenter() {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.page {
  position: relative;
  height: 30vh;
}

.target {
  @include positionCenter();
  font-size: 100px;
  font-weight: bold;
  font-family: Noto Sans JP;
  color: #6c757d;
}
//----------空白を入れる----------//

.blank{
  position: relative;
  height: 30vh;
}

//----------ゲストログイン----------//

.gest-signin {
  position: fixed;
  right: 100px;
  bottom: 20px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  background-image: linear-gradient(45deg, #8929c2 0%, #bc90d6 100%);
  transition: .4s;
  line-height: 1.0 !important;
  a {
    text-decoration: none !important;
    color: #fff !important;
    font-weight: bold;
    span {
      font-size: 0.6rem;
    }
  }
}
 .gest-signin:hover {
    background-image: linear-gradient(241deg, #8929c2 0%, #bc90d6 100%);
  }

//---------- ----------//