// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//----------タスクタイトル----------//
.task-t {
  width: 230px;
  height: 50px;
  margin: 40px 0 0 -100px;
  padding-top: 10px;
  background-color: gray;
  color: white;
  text-align: center;
  // border-radius: 50px;
}

//----------新規タスク画面----------//
.new-buttom {
  width: 75%;
  margin-bottom: 10px;
  text-align: right;
}

//----------タスク一覧画面----------//
.task-seek {
  width: 100%;
  margin: 20px 0 0 auto;
}

//---------- ドラッグ＆ドロップに関連するコード----------//
//---------- カーソルのデザインを変更----------//
.table-sortable {
  tr.item {
    cursor: row-resize;
  }
}

.update-buttom {
  margin-top: 20px;
}
// .update-buttom {
//   display: flex;
// }
.update-memo,.fa-redo-alt{
  color: #ff0000;
  // width: 300px;
  margin: 10px 0 0 10px;
}

.task-font {
  font-size: 30px;
}

.task-new-edit {
  margin-top: 30px;
}