<footer>
  <div class="width: 100%; bg-dark">
    <div class='container mt-5'>
      <div class='row'>
        <div class='mx-auto'>
          <p>CopyRight Todo Manager.inc</p>
        </div>
      </div>
    </div>
  </div>
</footer>